@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Heebo", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #21243d;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 888px;
  margin: 0 auto;
  padding: 0 15px;
}

.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 208px;
  height: 47px;
}

.btn__red {
  background-color: #ff6464;
  color: #fff;
  font-weight: 500;
  font-size: 20px;
}

.navigation {
  display: flex;
  justify-content: flex-end;
  padding: 27px 15px 0;
  margin-bottom: 140px;
}

.navigation ul {
  display: flex;
  gap: 30px;
}

.navigation ul li a {
  color: #000;
  transition: all 0.3s ease-in-out;
}

.navigation ul li a:hover {
  color: #ff6464;
}

.navigation.navigation__work {
  margin-bottom: 0px;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__left {
  flex-basis: 506px;
}

.header__title {
  margin-bottom: 44px;
}

.header__text {
  line-height: 24px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 38px;
}

.main {
  margin: 71px 0 32px;
}

.main__blue {
  background-color: #edf7fa;
  padding: 20px 0 30px;
}

.blue__text {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  align-items: center;
}

.subtitle {
  font-size: 20px;
}

.subtitle.subtitle__work {
  font-weight: 900;
  font-size: 44px;
}

.blue__link {
  color: #00a8cc;
}

.block {
  display: flex;
  gap: 20px;
}

.blue__block {
  padding: 24px 24px;
  background-color: #fff;
}

.blue__title__link {
  color: #21243d;
  font-weight: 700;
  font-size: 26px;
  line-height: 38px;
}

.blue__title__link:hover {
  color: #ff6464;
}

.blue__block__info {
  display: flex;
  margin: 20px 0 15px;
}

.blue__block__data {
  border-right: 1px solid #000;
  padding-right: 25px;
}

.blue__block__data + a {
  padding-left: 25px;
  display: block;
  margin-right: 5px;
}

.blue__block__data ~ a:hover {
  color: #ff6464;
}

.main__white {
  padding: 22px 0 80px;
}

.white__block {
  margin-top: 30px;
  display: flex;
  padding-bottom: 30px;
  border-bottom: 1px solid #e0e0e0;
}

.white__block__info {
  margin-left: 20px;
}

.block__info__title {
  color: #21243d;
  font-weight: 700;
  font-size: 30px;
  line-height: 44px;
}

.block__info__title:hover {
  color: #ff6464;
}

.data__link:hover {
  color: #ff6464;
}

.block__info__data {
  display: flex;
  gap: 25px;
  margin: 15px 0 22px;
  align-items: center;
}

.data__year {
  background-color: #142850;
  border-radius: 16px;
  color: #fff;
  padding: 2px 10px;
}

.data__link {
  color: #8695a4;
  font-size: 20px;
}

.footer {
  padding: 50px 0;
}

.footer__link {
  display: flex;
  justify-content: center;
  gap: 35px;
}

.footer__info {
  margin-top: 25px;
  text-align: center;
}

.hamburger {
  display: none;
}

@media (max-width: 767px) {
	.white__block {
    flex-wrap: wrap;
}
.subtitle {
    font-size: 22px;
    text-align: center;
    font-weight: 700;
}
.main__white {
    padding: 20px 0 20px;
}
.main {
    margin: 30px 0 10px;
}
.block__info__title {
    font-size: 28px;
    line-height: 32px;
}
.footer {
    padding: 20px 0;
}
.white__block__img {
    display: block;
    margin: 0 auto 20px;
    width: 100%;
    max-height: 350px;
    object-fit: cover;
	    border-radius: 12px;
}
.blue__block__info {
    margin: 10px 0 10px;
}
.blue__title__link {
    font-size: 20px;
    line-height: 20px;
}
.white__block__info {
    margin-left: 0;
}
  .hamburger {
    display: block;
    margin-left: auto;
  }

  .navigation {
    display: none;
  }

  .header .container {
    display: flex;
    flex-direction: column-reverse;
  }

  .header__left {
    text-align: center;
  }

  .header__title {
    margin-bottom: 20px;
  }
  .header__left, .header__right {
		flex-basis: 100%;
	}
	.block {
    flex-wrap: wrap;
}
}

@media (max-width: 480px) {
	.white__block__img {

    max-height: 250px;
}
.blue__block {
    padding: 20px 15px;
}
.subtitle {
    font-size: 18px;
}
}
